@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCF9F7;
  --foreground: #ededed;
  --font-avenir: 'Urbanist', sans-serif;
  --font-great-vibes: 'Great Vibes', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCF9F7;
    --foreground: #ededed;
  }

}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-avenir), sans-serif;
}
